@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Robson S. Pires)?</h3>
</div>

<a class="btn btn-primary d-block" role="button">Cancelar exclusão</a>
<a class="btn btn-danger d-block" role="button">Confirmar exclusão</a>
